*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    color: black;
    font-family: Arial;
    transition: all 0.4s ease 0s;
    outline: none;
}
input{
    width: 100%;
    border: none;
    padding: 10px 20px;
    box-sizing: border-box;
}
input::placeholder{
    color: lightgrey;
}
button{
    color: #24a3ff;
}
button:hover{
    color: lightgrey;
    cursor: pointer;
}